:root{
    --color-oscuro: rgb(52, 58, 64);
    --color-grisclaro:rgb(224, 226, 229);
}

div .formulario {
    width: 70%;    
    margin: 0 auto;
    padding: 10px;
    
}
form{
    background-color: var(--color-oscuro);
    padding: 5px;
    width: 90%;  
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;  
}
form input[type=number]{
    width: 30%;
}

.formulario .seccion {
    margin: 4px auto;
    width: 100%;
    
}
.seccion input[type=text]{
    width: 95%;
}

.formulario .seccion input[type=submit]{
    
    margin:5px auto;
    width: 100%;
}
.formulario .seccion textarea{
    margin: 0 auto;
    width: 100%;
    height: 200px;
    max-height: 200px;
    overflow: auto;
}
.formulario .selector{
  display: flex;
  justify-self: center;
}

.formulario label {
    color: var(--color-grisclaro);
    margin: 5px;
}


